{% extends 'inicio/base.html' %}
{% load static %}
{% block titulo %}Contacto - Cartagena{% endblock %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'inicio/css/contacto.css' %}">
<section class="contenido_principal">
    <h1>Contacto</h1>
    <p>¿Tienes preguntas? Llena el formulario y te responderemos lo antes posible:</p>

    <form method="post">
        {% csrf_token %}

        {% if messages %}
            <ul class="mensajes-error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="grupo-formulario">
            <label for="nombre">Nombre completo</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="grupo-formulario">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="grupo-formulario">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
        </div>

        <button type="submit" class="boton-login">Enviar mensaje</button>
    </form>

    <hr style="margin-top: 40px;">

</section>
{% endblock %}
